<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #3 - Use the same list display from search.html -->
    <table>
        <tr th:each="job : ${jobs}">
        <tr th:each="j, idx : ${job}" th:class="${idx.odd} ? 'odd'">
            <td th:text="${j.key}"></td>
            <td th:text="${j.value}"></td>
        </tr>
        </tr>
    </table>
</div>

</body>
</html>